**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [35]:
my_string = input("Вести слово ")

Вести слово testings

In [36]:
x_string = len(my_string) 
y_string = x_string / 2
if x_string % 2 ==0:
    print(my_string[int(y_string)-1:int(y_string)+1])
elif x_string % 2 !=0:
    print(my_string[int(y_string)])

ti

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [61]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
name_boys = sorted(boys)
nema_girls = sorted(girls)
print('Идеальные пары:')
for name_boys, name_girls in zip(name_boys, nema_girls):
    print(f' {name_boys} и {name_girls}')

Идеальные пары:
 Alex и Emma
 Arthur и Kate
 John и Kira
 Peter и Liza
 Richard и Trisha

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [55]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

for countri in countries_temperature:
    result = round(((sum(countri[1]) / len(countri[1])) -32) * (5 / 9)) 
    print(result)

24
14
4
12

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [58]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

number_of_users = []
sum_of_views = 0

for users in stream:
    splited_users = users.split(',')
    in_user = splited_users[1]
    views = int(splited_users[2])
    number_of_users.append(in_user)
    sum_of_views += views
set_number_of_users = set(number_of_users)
result = sum_of_views / len(set_number_of_users)   
print(result)

23.25


**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [126]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]
list_data = input('Ведите дату ')
list_company = input('Ведите компанию ')


for i in stats:
    data = i[0]
    company = i[1]
    if list_data == data and list_company == company:
        print(i[2])

Ведите дату 2018-01-01
Ведите компанию google
25

**Задача 6**. Дан список вида:

In [1]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]


deogonal_amount = 0
i = 0
for amount in data:
    sum_amount = amount[i]
    deogonal_amount += sum_amount
    i += 1
print(deogonal_amount)

103

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).

NameError: name 'data' is not defined